body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    margin: auto;
    margin-left: 121px;
    margin-right: 121px;
}

.navbar {
    font-family:'Segoe UI', sans-serif;
    padding-top: 20px;
    padding-bottom: 50px;
}

.navbar-link {
    list-style-type: none;
    display: flex; 
    justify-content:left; 
    list-style: none; 
    padding: 0; 
    margin-right:33px; 
}

.navbar-link>li {
    padding-right: 33px;
}

.navbar>ul>li>a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.main-header {
    display: flex;
    margin-bottom: 25px;
}

.main-about {
    /* background-color: red; */
    width: 60%;
}
.main-header-fullname {
    font-size: 125px;
    margin: 0;
    padding: auto;
}

.main-header-role {
    margin: 0;
    padding: 0;
}

.main-picture {
    /* background-color: yellow; */
    width: 40%;
}

.main-picture > .profile {
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 4px;
    border-radius: 40px;

    
}

.main-content {
    justify-content: space-around;
    /* background-color: red; */
    text-align: center;
}
.main-content-header {
    font-size: 30px;
}

.footer {
    /* margin: auto;     */
    margin-top: 20px;
    border-top: 2px solid white;

}
.main-footer {
    justify-content: space-around;
    /* background-color: red; */
    text-align: center;

}
